.centerblock__filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 51px;
  position: relative;
}

.filter__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 15px;
}

.filter__button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
  color: #ffffff;
  background: transparent;
  cursor: pointer;
  margin-right: 10px;
}

.filter__button:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
}

.filter__button:active {
  border-color: #ad61ff;
  color: #ad61ff;
}

.filter__window {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 10px;
  z-index: 100;
}

.filter__list {
  background: #313131;
  border-radius: 12px;
  padding: 34px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 28px;
  height: max-content;
  max-height: 237px;
  overflow-y: auto;
  width: max-content;
  max-width: 248px;
}

.filter__list::-webkit-scrollbar {
  width: 4px;
}

.filter__list::-webkit-scrollbar-track {
  background-color: #4b4949;
}

.filter__list::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 2px;
}

.filter__item {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  transition: color 0.2s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter__item:hover {
  color: #b672ff;
  text-decoration: underline;
}